body {
    margin-top: 120px;
    background-color: #f5f5f5;
}

main {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 32px;
        font-weight: 600;
        line-height: 64px;
    }
}

.news-list {
    width: 330px;
    height: 330px;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
}

.news-image-container {
    img {
        width: 100%;
    }
}

.news-content {
    margin: 5px;

    h2 {
        margin: 0;
        font-size: 16px;
        font-family: monospace;
        -webkit-line-clamp: 2;
    }
}