.infomation_product {
    display: flex;
    flex-direction: row;
    gap: 50px;
    background-color: white;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
}

.main-image {
    width: 480px;
    height: 626px;

    #main-product-image {
        width: 450px;
        height: 450px;
    }

    #thumbnail-image {
        width: 82px;
        height: 82px;
        gap: 10px;
    }
}

.infomation {
    width: 700px;

    h1 {
        font-weight: 500;
        line-height: 64px;
        font-size: 20px;
    }

    p {
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 400;
    }

    .price {
        width: 665px;
        height: 66px;
        background-color: #fafafa;
        padding: 15px 20px;
        color: #ee4d2d;
        z-index: 2;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 10px;
    }
}

label[id='size'] {
    width: 130px;
    height: 30px;
    cursor: pointer;
}

input[type='number'] {
    height: 40px;
    text-align: center;
    font-size: 16px;
}



button[type='submit']:hover,
label[id='size']:hover {
    transform: scale(1.01);
}

/* relative product*/
.relate {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.product-card {
    width: 190px;
    height: 330px;
    box-sizing: border-box;
    flex: 0 0 calc(16.66% - 10px);
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #fff;
    border-radius: 8px;
}

.product-card span {
    font-size: .65rem;
    line-height: .75rem;
    border: 1px solid;
    color: #e64a19;
    padding: 2px;
    background-color: #feeeea;
}

.product-card:hover {
    transform: scale(1.03);
}

.product-card>a {
    text-decoration: none;
}

.product-card img {
    width: 190px;
    height: 190px;
    border-radius: 8px;
    object-fit: cover;
}

.product-card .id {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card h3 {
    font-size: .875rem;
    line-height: 1.25rem;
    height: 40px;
    font-family: "Montserrat", sans-serif;
    color: #000;
    font-weight: 500;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.product-card .sold-quantity {
    font-size: 12px;
    color: #e64a19;
    margin-top: 8px;
}

.price-sale {
    height: 25px;
}

.price-sale,
.price {
    color: #ee4d3a;
    margin-top: 5px;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.related-products {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
}

button[id='add-to-cart'] {
    /* width: 250px; */
    height: 40px;
    background-color: #ee4d2d;
    border: none;
    border-radius: 8px;
    color: #fafafa;
    font-size: 16px;
    cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
    .product-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .product-detail {
        flex-direction: column;
        align-items: center;
    }

    .product-image,
    .product-info {
        width: 100%;
    }

    .related-products-container {
        justify-content: center;
    }
}