main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    margin-bottom: 30px;
}


.breadcrumb {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 1280px;

    a {
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        cursor: pointer;
    }
}

.product {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    width: 1280px;
}

.product-card {
    width: 190px;
    height: 330px;
    box-sizing: border-box;
    flex: 0 0 calc(16.66% - 10px);
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #fff;
    border-radius: 8px;
}

.product-card span {
    font-size: .65rem;
    line-height: .75rem;
    border: 1px solid;
    color: #e64a19;
    padding: 2px;
    background-color: #feeeea;
}

.product-card:hover {
    transform: scale(1.03);
}

.product-card>a {
    text-decoration: none;
}

.product-card img {
    width: 190px;
    height: 190px;
    border-radius: 8px;
    object-fit: cover;
}

.product-card .id {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card h3 {
    font-size: .875rem;
    line-height: 1.25rem;
    height: 40px;
    font-family: "Montserrat", sans-serif;
    color: #000;
    font-weight: 500;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.product-card .sold-quantity {
    font-size: 12px;
    color: #e64a19;
    margin-top: 8px;
}

.price-sale {
    height: 25px;
}

.price-sale,
.price {
    color: #ee4d3a;
    margin-top: 5px;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}